/*
	$darkblue = #042050
	$lighterdarkblue = #1D3661
	$darkgrey = #555555
	$lightergreyer = #F0F0F0
	$orange = #D56A46
*/

* {
	box-sizing: border-box;
	font-family: 'Roboto';
}
body {
	margin: 0;
}
.clearfix {
	clear: both;
}
.wrapper {
	width: 100%;
}
.navbar__row {
	width: 100%;
	text-align: center;
	background-color: #1D3661;
	color: white;
}
.navbar__list {
	padding: 0;
	margin: 0;
}
.navbar__item {
	list-style-type: none;
	display: inline-block;
	padding: 15px 23px;
	font-size: 1.2rem;
}
.navbar__item:hover {
	background-color: #042050;
}
.navbar__home {
	float: left;
	position: absolute;
	top: 13px;
	left: 23px;
	font-size: 1.3rem;
}
.navbar__social {
	float: right;
	position: absolute;
	top: 11px;
	right: 23px;
}
.fa.social--icons {
	padding-left:10px;
	font-size:24px !important;
}
.navbar__bottom {
	height: 5px;
	clear: both;
	background-color: #042050;
}

/*
	Home Banner CSS
*/

.home__banner {
	height:350px;
	background-image: url('../img/matchademics-banner.jpg');
	background-position: center center;
	background-size: cover;
	position: relative;
}
.banner__text-wrapper {
	position: absolute;
	bottom: 70px;
	right: 70px;
	color: white;
	width: 450px;
}
.banner__text--upper {
	background-color: #1D3661;
	display: inline-block;
	width: 100%;
}
.banner__text--upper p {
	padding: 10px;
	margin: 0;
	display: inline-block;
}
.banner__text--upper p:first-child {
	font-size: 1.3rem;
}
.banner__text--upper p:nth-child(2) {
	float: right;
	padding-right: 30px;
	padding-top: 12px;
}
.banner__text--lower {
	background-color: #555555;
	display: inline-block;
}
.banner__text--lower p {
	padding: 10px;
	margin: 0;
}

/* Info Section */
.info__wrapper {
	width: 50rem;
	margin: 50px auto;
}
.info__card {
	width: 196px;
	display: inline-block;
}
.info__card--left {
	width: 16%;
	display: inline-block;
	vertical-align: top;
}
.info--icons {
	font-size: 27px !important;
}
.info__card--right {
	width: 80%;
	display: inline-block;
	vertical-align: top;	
}
.info__card--right h4 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.1rem;
	color: #D56A46;
}
.info__card--right p {
	margin: 0;
	font-size: .8rem;
}

/* About Us CSS */

.about-us__wrapper {
	width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
}
.about-us__heading {
	background-color: #1D3661;
	color: white;
	width: 100%;
}
.about-us__heading h4 {
	padding: .7rem;
}
.about-us__card {
	width: 33%;
	display:inline-block;
	vertical-align: top;
}
.card--heading {
	font-size: 1.3rem;
	color: #1D3661;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}
.card--innertext {
	font-size: .8rem;
}
.arrow {
	display: inline-block;
	color: #D56A46;
	margin-left: 1rem;
}
.arrow-text {
	display: inline-block;
	margin: 0;
	margin-bottom: 5px;
	font-size: .8rem;
}
.testimonial--author {
	color: #D56A46;
	margin-top: 1rem;
	margin-left: 1.3rem;
}

/* Meet the team css */
.meet-the-team__wrapper {
	width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: justify;
}
.meet-the-team__heading {
	background-color: #1D3661;
	color: white;
	width: 100%;
	text-align: justify;
}
.meet-the-team__heading h4 {
	padding: .7rem;
}
.team__cards {
	width: calc(89.21% / 3);
	background: #555555;
	display: inline-block;
	margin:1rem;
}