
/*
  navy: #04202C
  greyfont: #6c6c6c
  darkerlightblue: #e7edf0
  darkerdarkerlightblue: #8f969a
*/

* {
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box;
}
.padding10px {
  height:10px;
}

.profile__activity h1 {
  color: #6c6c6c;
  margin-top: 10px;
}
.activity__avatar {
  height:3rem;
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom:10px;
  display:inline-block;
}
.activity__update-container {
  width: 70%;
  display: inline-block;
  vertical-align:top;
}
.activity__activity {
  margin-bottom:5px;
}
.btn {
  width:17%;
  margin:auto;
  height:2rem;
  color: white;
  background-color: #04202C;
  border-radius: 5px;
  text-align: center;
  font-weight:700;
  font-size:1.1rem;
}
.btn:first-child {
  margin-left:4.5%;
}
.btn:last-child {
  margin-bottom:15px;
}
.buttons {
  width:100%;
  margin:auto;
}
.loading__bar {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  background-color: #e7edf0;
  height:30px;
  border-radius:8px;
  margin-top:10px;
}
.loading__bar p {
  padding-top: 5px;
  font-size: 1rem !important;
}
.profile__questions p {
  color: #04202C;
  font-size: 1.4rem;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 1rem;
  font-size: 1.3rem;
  margin-top: 7px;
}
.profile__questions {
  width: 90%;
  overflow: auto;
}
.loading__status {
  width:50px;
  background-color: #8f969a;
}
.profile_and_feed__wrapper {
  width:90%;
  margin: auto;
  /*background: white;*/
  margin-top:50px;
}
.profile__header {
  background-color: #04202C;
}
.profile__info {
  color: white;
  display:inline-block;
  transform: translateY(-54px);
  margin-left: 15px;
}
.profile__avatar {
  display:inline-block;
}
.profile__info-container {
  transform: translatey(50px);
  margin-left:50px;
  /*background-color: #a8afb2;*/
  display: inline-block;
  border-radius: 8px;
}
.profile__info h3 {
  font-size:3rem;
  padding-right: 10px;
  margin-bottom:10px;
}
.profile__photo {
  width:200px;
  border-radius:8px;
}
.profile__details h1 {
  color: #6c6c6c;
}
.profile__details {
  width: 65%;
  display: inline-block;
  background-color: white;
  border-radius:8px;
}
.profile__details p {
  color: #6c6c6c;  
  font-size:1.1rem;
  margin-right:10px;
}
.profile__details h1 {
  color: #6c6c6c;  
  font-size:2rem;
}
.profile__feed {
  width:32%;
  margin-left: 2%;
  /*float:right;*/
  vertical-align: top;
  display:inline-block;
  border-radius:8px;
}
.profile__questions {
  background-color: white;
  border-radius:8px;
  width:100%;

}
.profile__activity {
  margin-top:10px;
  background-color: white;
  border-radius:8px;
  overflow:auto;

}
body {
  background-color: #E7EDF0;
}
p {
  margin-left:10px;
  margin-top:0px;
}
h1 {
  margin-left: 10px;
  margin-bottom:5px;
}