/*
  navy: #04202C
  greyfont: #6c6c6c
  lightblue: #E7EDF0;
  darkerdarkerlightblue: #8f969a
*/
body {
  background-color: #E7EDF0;
}

.survey__card {
  margin-top: 100px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 0px 10px #848484;
}